<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
  <div class="bd">
    <div class="box bg-color">
      <div class="logo">
        STRIM
      </div><br>
      <form (ngSubmit)="register(userForm)" #userForm="ngForm">
        <h2>Registry</h2>
        <br>
        <hr />
        <div>
          <p class="label-txt">ENTER YOUR NAME</p>
          <input type="text" class="form-control" placeholder="Your name" required ngModel name="imeKorisnika"><br>
        </div>

        <div class="line-box">
          <div class="line"></div>
        </div>
        <br>
        <div>
          <p class="label-txt">ENTER YOUR EMAIL</p>
          <input type="text" class="form-control" placeholder="Your email" required ngModel name="email"><br>
        </div>

        <div class="line-box">
          <div class="line"></div>
        </div>
        <br>
        <div>
          <p class="label-txt">ENTER YOUR PASSWORD</p>
          <input type="password" class="form-control" placeholder="Your password" required ngModel name="sifra"><br>

        </div>


        <br>
        <div class="col-12">
          <button style="margin-top: 2%;" class="btn btn-primary" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</body>