<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<html>

<body><br><br>
    <h1 style="text-align: center;"><b><i>Volleyball Club Strim </i></b></h1>
    <span> Volleyball is a team sport in which two teams of six players are separated by a net. Each team tries to score
        points by grounding a ball on the other team's court under organized rules.[1] It has been a part of the
        official program of the Summer Olympic Games since Tokyo 1964. Beach volleyball was introduced to the programme
        at the Atlanta 1996. The adapted version of volleyball at the Summer Paralympic Games is sitting volleyball.

        The complete set of rules is extensive, but play essentially proceeds as follows: a player on one of the teams
        begins a 'rally' by serving the ball (tossing or releasing it and then hitting it with a hand or arm), from
        behind the back boundary line of the court, over the net, and into the receiving team's court.[3] The receiving
        team must not let the ball be grounded within their court. The team may touch the ball up to three times to
        return the ball to the other side of the court, but individual players may not touch the ball twice
        consecutively.[3] Typically, the first two touches are used to set up for an attack. An attack is an attempt to
        direct the ball back over the net in such a way that the team receiving the ball is unable to pass the ball and
        continue the rally, thus, losing the point. The team that wins the rally is awarded a point and serves the ball
        to start the next rally. A few of the most common faults include:</span>
    <ul>
        <li> causing the ball to touch the ground or floor outside the opponents' court or without first passing over
            the net;</li>
        <li> catching and throwing the ball;</li>
        <li>double hit: two consecutive contacts with the ball made by the same player;</li>
        <li> four consecutive contacts with the ball made by the same team;</li>
        <li> net foul: touching the net during play;</li>
        <li> foot fault: the foot crosses over the boundary line when serving or under the net when a front row player
            is trying to keep the ball in play.</li>
    </ul>

    <img class="pic" src="https://arhivirano.ossrb.org/main/vesti/17/wk21.jpg"><br><br>
 <h3 style="text-align:center ;"><b><i>History</i></b></h3>
    <br>
    
    <p>
        Serbia's most proud moment came at the Sydney Olympics in 2000 when under the name Yugoslavia it won Olympic
        gold. A heavy favourite was team Italy, who won the last three World Championships and the European title in
        1995 and 1999, but they had yet to win an Olympic gold medal. They swept through Group B undefeated and won
        their quarter-final match over Australia. In the semifinals, Serbia & Montenegro (Yugoslavia), runners-up at the
        1998 Worlds, and bronze medalists at the 1999 Europeans, triumphed in straight sets, again denying Italy an
        Olympic gold medal. Serbia & Montenegro had struggled in the pools, finishing only third behind Italy and
        Russia, but they defeated Russia in straight sets in the final to win the gold medal. As in 1996, all medalists
        came from the same pool, this time Group B.

        Volleyball was brought to Serbia by g. William Viland, a professor of folklore and folk sports from Oakland,
        California, when the Red Cross held a series of lectures and demonstrations of American sports in Belgrade and
        Novi Sad. It is believed that his arrival marked the beginning of volleyball in this area, and in 1924 is
        considered the year when the first volleyball ball came to Serbia. During the period of occupation, between 1941
        and 1944, volleyball was played very actively, numerous competitions were held, and more sports clubs/society's
        had established its volleyball section. The Serbian/Yugoslav Volleyball Federation was founded in 1946 by the
        Alliance for Physical Education of Yugoslavia. A year later, in 1947, the World Volleyball Federation (FIVB) was
        founded and the former Yugoslavia was one of the 14 founders. From 13 February 1949, the Volleyball Federation
        became an independent sports organization. Two years later, at the European Championships held in Paris, the
        women's volleyball team of Yugoslavia won the bronze medal for the first time. This success was repeated with
        the men's event in 1975, when Serbia for the first time in history hosted the biggest European competition, both
        the men's and women's events. The Serbian team in the last match of the final group defeated Bulgaria in the
        crowded hall of "Pioneer" in Belgrade and won the bronze medal
    </p>
    if you want to see more about teams and their current players, quickly click on the <a routerLink="/getTimovi"
        routerLinkActive="active" router>link</a>


</body>

</html>